@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Primary colors */
  --primary-turquoise: #5ACCCC;
  --primary-white: #FFF
  --primary-steel-blue: #335C6E
  --primary-steel-yellow: #FABD33

  /* Secondary colors */
  --secondary-turquoise-light: #CFFAFA;
  --secondary-orange-red: #F76434;
  --secondary--orange-teal: #4AA088
  --secondary--yellow-dark: #FAAD00
  --secondary--turquoise-dark1: #53C2C2
  --secondary--turquoise-dark2: #28B8B8
  --secondary--orange-pastel: #FFE6DC
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
